<h1 style="text-align: center">REQUESTS-TRAP</h1>
<div style="font-size: 14pt">
  <p><a href="https://still-citadel-55865.herokuapp.com/">Task result (current site)</a></p>
  <p><a href="https://github.com/MaxVinogradov/requests-trap">GitHub</a></p>
  <ol>
    <li>
      Trap URLs seems like <a href="https://still-citadel-55865.herokuapp.com/:trap_id">https://still-citadel-55865.herokuapp.com/:trap_id</a>, where :trap_id is any numbers or letters.
      For example: <a href="https://still-citadel-55865.herokuapp.com/777fqq84">https://still-citadel-55865.herokuapp.com/777fqq84</a>.
      Remind that any request has been already saved to DB.
    </li>
    <li>
      All request for specific :trap_id has URLs seems like <a href="https://still-citadel-55865.herokuapp.com/:trap_id/requests">https://still-citadel-55865.herokuapp.com/:trap_id/requests</a>.
      For example: <a href="https://still-citadel-55865.herokuapp.com/777fqq84/requests">https://still-citadel-55865.herokuapp.com/777fqq84/requests</a>.
      Remind that any request has been already saved to DB.
    </li>
  </ol>
</div>